.navbar-brand{
    background-image: url('../../images/logonuevopeq.jpg');
    background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  display: flex;
  padding-left: 50px;
}
